* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}
ul {
    list-style: none;
}
:root {
    --text-color: rgba(117, 117, 117, 1);
    --footer-link-color: rgba(255, 255, 255, 0.6);
    --link-color: rgba(33, 150, 243, 1);
    --background-color: rgba(47, 48, 58, 1);
    --second-text-color: rgba(255, 255, 255, 1);
    --third-text-color: rgba(33, 33, 33, 1);
}
.article {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.article-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-transform: none;
    color: var(--text-color);
}

.button-first {
    width: 200px;
    height: 50px;
    font-weight: 700;
    color: var(--second-text-color);
    line-height: 1.88;
    font-size: 16px;
    border: 1px solid var(--link-color);
    letter-spacing: 0.06em;
    background-color: var(--link-color);
    border-radius: 4px;
    padding: 10px 30px;
    margin-top: 30px;
    cursor: pointer;
}
/*.button-first:hover {
    color: var(--second-tekst-color);
    border-style: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}*/

.department {
    color: var(--text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.fonts-web-color {
    color: var(--link-color);
}
.fonts-studio-color {
    color: rgba(0, 0, 0, 1);
}
.fonts-studio-footer-color {
    color: var(--second-text-color);
}
.footer-style {
    background-color: var(--background-color);
}
.header-box {
    background-color: var(--second-text-color);
}
.hero-box {
    border: 1px solid transparent;
    background-color: var(--background-color);
    text-align: center;
}
.hero-text {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--second-text-color);
    margin: auto;
}
.logo-head {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.29;
    letter-spacing: 0.03em;
    text-decoration: none;
}

/*.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
.logo-footer .logo-footer:hover,
.logo-footer:focus {
    text-decoration: underline;
}*/

.link-mail {
    color: var(--footer-link-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.46;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.link-mail:focus,
.link-mail:hover,
.link-tel:focus,
.link-tel:hover {
    color: var(--link-color);
}
.link-tel {
    color: var(--footer-link-color);
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.46;
    letter-spacing: 0.03em;
}

.link-https {
    color: var(--second-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.46;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.links {
    display: inline-block;
}

.link {
    color: var(--second-text-color);
}

.navi {
    color: var(--text-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.navi:hover,
.navi:focus {
    color: var(--link-color);
}
.header-navi .navi {
    color: var(--third-text-color);
}
.header-navi .navi:hover,
.header-navi .navi:focus {
    color: var(--link-color);
}

/* .navi { 
    color: rgba(33, 33, 33, 1);
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02 }*/

.navi:hover {
    color: var(--link-color);
    text-decoration: none;
}

.name {
    color: var(--third-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.objects {
    color: var(--third-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.occupation {
    text-align: center;
    font-size: 36px;
    letter-spacing: 0.03em;
}
.our-team {
    text-align: center;
    font-size: 36px;
    letter-spacing: 0.03em;
}
.proffession {
    color: var(--text-color);
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}
.portfolio-button {
    width: 121px;
    height: 38px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    border-radius: 4px;
    margin-top: 30px;
    cursor: pointer;
    border: rgba(245, 244, 250, 1);
}
.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--second-text-color);
    border-style: none;
    background-color: var(--link-color);
}
